$color-text: #282c34;
$width: 1200px;
.main {

  flex: 1;
  margin: 0.5rem 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  // display: flex;
  // justify-content: center;
  color: $color-text;
}

@media only screen and (min-width: calc(#{$width} + 2rem)) {
  .main {
    margin: 0.5rem auto;
    width: $width;
  }
}