$color-text: #282c34;

.nav {
  margin-bottom: 2em;
  display: flex;
  border-top: 1px solid rgb(203, 203, 203);
  border-bottom: 1px solid rgb(203, 203, 203);

  a {
    display: inline-block;
    text-decoration: none;
    padding: 0.5em 1em;
    color: black;

    &:hover {
      background-color: #d9d9d9;
    }
  }

  .active {
    background-color: #f0f0f0;
  }
}