$width: 1200px;
$color-text: white;

.wrapper {
  background-color: #282c34;
}

.footer {
  font-size: 0.7rem;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  color: $color-text;
}

@media only screen and (min-width: calc(#{$width} + 2rem)) {
  .footer {
    margin: 0 auto;
    width: $width;
  }
}