$color-bc: rgb(194, 218, 229);
$color-button: #282c34;
$color-button-hover: #45484e;
$color-button-focus: #c1c1c1;
$font-size: 18px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: $color-bc;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: $font-size;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты */
input,
button,
textarea,
select {
  font: inherit;
}

/*BUTTON */

button,
.btn {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: $color-button;
  color: #fff;
  padding: 8px 16px;
  font-size: 1em;
  cursor: pointer;

  &:hover {
    background: $color-button-hover;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 4px 2px $color-button-focus;
  }
}

[type="text"] {
  display: inline-block;
  width: 100%;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  padding: 0.3em 0.7em;
  font-size: 1em;
  margin-top: 0.5em;

  &:focus {
    outline: none;
    box-shadow: 0 0 4px 2px $color-button-focus;
  }
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}