.wrapper {
    margin: 1em;
}

.article {
    padding: 1em;
    background-color: rgb(241, 241, 241);
    border-radius: 1em;

    &:hover {
        box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.211);
    }
}

.header {
    display: flex;
    justify-content: space-between;

    .title {
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: bold;
    }
}


.info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .author {
        font-size: 0.8em;
    }
}