.wrapper {
    margin: 1em;
}

.user_info {
    display: flex;

    .user_info_text {
        flex: 1;
        border-radius: 8px;
        background-color: rgb(227, 227, 227);
        padding: 1rem;

        .field {
            margin: 1rem 0;

            .user_data {
                border-radius: 8px;
                margin: 0.5rem 0;
                padding: 0.2rem 1rem;
                background-color: white;
            }
        }
    }
}

.profile_pic {
    font-size: 10em;
    padding: 0 2rem;
}