.like {
    background-color: rgb(193, 193, 193);

    &.active{
        background-color: rgb(41, 41, 41);
    }

    &:hover {
        background-color: rgb(182, 182, 182);
    }

    &:focus {
        box-shadow: none;
    }
}