$color-text: white;
$color-a-hover: rgb(194, 218, 229);
$width: 1200px;

.wrapper {
    background-color: #282c34;
}

.header {
    margin: 0.5rem 1rem;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    color: $color-text;

    .logo {
        font-size: 2rem;

        a {
            color: $color-text;
            text-decoration: none;
        }

        a:hover {
            color: $color-a-hover;
        }
    }

    .nav {
        display: flex;
        align-items: center;

        a {
            padding: 0.5rem 1rem;
            color: $color-text;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

@media only screen and (min-width: calc(#{$width} + 2rem)) {
    .header {
        margin: 0.5rem auto;
        width: $width;
    }
}