.wrapper {
  margin: 1em;
}

.textarea {
  resize: none;
  min-height: 150px;
}

.text_error {
  color: red;
  font-size: 0.7em;
  min-height: 2em;
}

.request_error {
  color: red;
}

.input_error {
  border: 1px solid red;

  &:focus {
    box-shadow: 0 0 2px 1px red;
  }
}